*, *::before, *::after { box-sizing: border-box; }

html { height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #eee;
  font: 14px/24px Arial, serif;
  position: relative;
}

.video-js .vjs-overlay-background {
    background-color: rgba(0, 0, 0, 0.8) !important;
    padding: 0;

}




.video-js .vjs-overlay {
    left: 0 !important;
    width: 100% !important;
    position: absolute;
}

.vjs-big-play-button {
    transition: all 0.25s;
}

.vjs-big-play-button:hover {
    color: #fff;
}

/* Do not alter this unless necaassary , this control progress control height*/
.bc-player-MGcUEh8LzI_default .vjs-progress-control {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.5em !important;
    top: -0.5em !important;
}

/* Do not alter this unless necaassary , this control progress control height on hover*/
.bc-player-MGcUEh8LzI_default .vjs-progress-control:hover {
    height: 1em !important;
    top: -1em !important;
  }


/* VideoLay Settings */
.bc-player-default_default {
    margin:auto;
    padding: auto;
    width: auto;
    height: 380px;
    font-size: 14px;
    overflow: hidden;
}

/* VideoLay Settings */
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 150px;
    float: left;
    border: 2px solid rgba(63,53,53,0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .jcarousel li {
        width: 200px;
    }
}
.jcarousel li a {
    width: 100%;
    display: block;
    height: 100%;
}

.jcarousel li a .img-responsive {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.jcarousel img {
    display: block;
    max-width: 100%;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
    padding-top: 0px;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

.jcarousel-wrapper {
    margin: 10px auto;
    position: relative;
    border: 10px solid rgba(63,53,53,0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}


.jcarousel-wrapper i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: 10px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 10px;
}



/**End-five-second-overlay**/

.end-fivesec-overlay a{
    position:absolute;
    bottom:12%;
    background-color: rgb(49,51,53,0.8);
    width: 24vw;
    height:7vw;
    display:block;

}


.upnext-overlay-item{
    height: 100%;
    overflow: hidden;
    display: inline-block;
}

.upnext-text-box{
     padding-top:9%;
}
.upnext-text-box span{
    font-size: 18px;
}




@media (min-width:576px) and (max-width:1025px) and (orientation:portrait){
    .end-fivesec-overlay a{
       width: 35vw;
       height: 12vw;
    }
    .upnext-text-box{                        /*Tablets/ipads Portrait*/
        padding-top: 12%;
    }
    
    }

@media (min-width:576px) and (max-width:1025px) and (orientation:landscape){
    .end-fivesec-overlay a{
            width: 35vw;
            height: 11.5vw;
         }   
    .upnext-text-box{
             padding-top: 11%;
         }
     
    }
    
    
 
@media (min-width:371px) and (max-width:575px) and (orientation:portrait){
        
    .end-fivesec-overlay a{
           bottom: 20%;
           width: 56vw;                  /* Mobile Portrait */
           height: 24vw;
           
       }    
    .upnext-text-box{
           padding-top: 16%;
       } 
    .upnext-text-box span{
           font-size: 15px;
       }
    }
    
@media (min-width:371px) and (max-width:575px) and (orientation:landscape){
    .end-fivesec-overlay a{
            width: 45vw;
            height: 15vw;
                                                  /* Mobile Landscape */
        }   
    .upnext-text-box{
            padding-top: 10%;
        }


    }

    
@media (max-width:370px) and (orientation:portrait){
    
    .end-fivesec-overlay a{
                width: 56vw;
                height:24vw;
            }
    .upnext-text-box{
                padding-top: 15%;     /*Extra Small device Portrait*/
            }
    .upnext-text-box span{
                font-size: 12px
            }                         
        }

 @media (max-width:370px) and (orientation:landscape){
    .end-fivesec-overlay a{
            width: 45vw;
            height: 15vw;            /*Extra Small device Landscape*/
        }  
     }       
    
    
    
    
 @media (max-width:420px) and (orientation:landscape){
    .upnext-text-box{
        padding-top: 12%;                                  
    }
  }

/** Multi Row Carousel **/
.carousel {
    margin: 10px auto;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2px;
}

.carousel i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.carousel img {
    display: block;
    max-width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
    padding-top: 0px;
}

.carousel-control-prev {
    left: 15px;
    z-index: 9999;
}

.carousel-control-next {
    right: 15px;
}

.carousel {
    height: 100%;
}

.carousel-elem a {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1.25px;
    height: 100%;
}

.carousel-elem a img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.carousel-elem{
    height: 100%;
}

.carouselrow-overlay-ratio{
    height: 32%;
}

.internal-elem{
    height: 40% !important;
}

.vjs-overlay-no-background{
    max-height: 100%;
    max-width: 100%;
}


@media (min-width:576px) and  (max-width:770px) and (orientation:landscape){ 
    .carouselrow-overlay-ratio{
        height: 50%;
    }    /*Tablets/Ipads Landscape*/
}
@media (max-width:575px){
    
    .carousel-elem{
        position: absolute;
        top: 50%;                            /* Mobile Portrait - min height */
        width: 100%;
        height: 90%;          
        left: 0;
        transform: translate(0, -50%);
        }
}


 @media (max-width:575px) and (orientation:landscape){
    .carousel-elem{
        height: 90% !important;                                   /* Mobile Landscape */
    }
} 


/**** UpNext ******/
.ytp-upnext {
    position: absolute;
    display: block;
    vertical-align: top;
    opacity: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -moz-transition: all .1s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: all .1s cubic-bezier(0.4,0.0,1,1);
    transition: all .1s cubic-bezier(0.4,0.0,1,1);
    z-index: 35;
}

.ytp-player-content {
    position: absolute;
    left: 0;
    -moz-transition: bottom .25s cubic-bezier(0.0,0.0,0.2,1),top .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: bottom .25s cubic-bezier(0.0,0.0,0.2,1),top .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: bottom .25s cubic-bezier(0.0,0.0,0.2,1),top .25s cubic-bezier(0.0,0.0,0.2,1);
}


@media (min-width: 960px) { 
    .ytp-upnext-title {
        font-size: 200% !important;
        width: 90%;
    }
}

.ytp-upnext .ytp-cued-thumbnail-overlay-image {
    opacity: .4;
}

.ytp-cued-thumbnail-overlay-image {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.ytp-upnext-header {
    display: block;
    font-size: 14px;
    text-align: center;
    padding-bottom: 8px;
    color: rgba(255,255,255,0.7);
}
@media (min-width: 480px) {
    .ytp-upnext-header {
        font-size: 140%;
    }
}

.ytp-upnext-title {
    display: block;
    padding: 5px 10px 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    width: 80%;
    margin: 0 auto;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.ytp-upnext-autoplay-icon {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    -moz-transition: all .1s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: all .1s cubic-bezier(0.4,0.0,1,1);
    transition: all .1s cubic-bezier(0.4,0.0,1,1);

}


.ytp-upnext-author {
    display: block;
    line-height: 1.3em;
    overflow: hidden;
    padding: 0 10px 10px;
    text-align: center;
    color: #fff;
    font-size: 130%;
}

.ytp-upnext-bottom {
    display: block;
    margin: 5px auto;
}

svg {
    pointer-events: none;
}

.ytp-upnext-cancel {
    display: block;
    float: none;
    text-align: center;
}

.ytp-button:not([aria-disabled=true]):not([disabled]):not([aria-hidden=true]) {
    cursor: pointer;
}

.ytp-upnext-cancel-button {
    display: inline-block;
    float: none;
    padding: 10px 20px;
    font-size: 140%;
    font-weight: 500;
    text-transform: uppercase;
}

.ytp-button:focus, .ytp-button {
    outline: 0;
}

.ytp-button {
    border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: default;
    line-height: inherit;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
}

.ytp-player-content {
    position: absolute;
    left: 0;
    right: 0;
}

.ytp-upnext .ytp-cued-thumbnail-overlay-image {
    opacity: .4;
}

.ytp-cued-thumbnail-overlay-image {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.ytp-svg-autoplay-ring {
  stroke-dasharray: 211;
  stroke-dashoffset: -211;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: white;
  fill: none;
  animation: countdown 5s linear infinite forwards;
}

@keyframes countdown{
  from {
    stroke-dashoffset: -211;
  }
  to {
    stroke-dashoffset: -422;
  }
}

/* Slick Settings */
.slick-list , .slick-track {
    height: 100% !important;
}

.slick-slide {
    height: 100%;
    margin: 0px auto 0;
    position: relative;
}

.ytp-upnext-container {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    transform: translate(0,-50%);
  }

.video-js .vjs-overlay-bottom-left {
    margin-left: 0%;
    bottom: 0px !important;
    height: 100%;
}